.page-about {
  .team-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    &::after, &::before {
      content: "";
      flex: 1 1 auto;
      border-bottom: 1px solid rgba(200, 214, 229, 0.3);
    }

    h5 {
      margin: 0 12px;
    }
  }
}