.page-contact {
  .card {
    padding-top: 16px;

    .icon-wrapper {
      background: #294966;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 48px;
    }

    .social-links {
      display: flex;
      justify-content: flex-end;
  
      a {
        margin-right: 20px;
        font-size: 24px;
        color: #294966;
      }
    }
  }
}