.page-courses {
  header {
    background-image: url(../images/courses/header.png);
    background-position-x: right;
    height: 397px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .test-card {
    background-image: url(../images/courses/test-bg.png);
  }

  .card-overflow {
    padding-top: 24px;
    margin-top: 24px;
  
    .overflow {
      border-radius: 14px;
      height: 48px;
      width: 48px;
    }
  }

  .how-it-works {
    .card {
      background: #FAFAFA;

      .badge {
        background: #04C56B;
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding: 12px;
      }
    }
  }

  .our-courses {
    .overflow {
      padding: 8px;
    }
  }
}