footer {
  background: #576574;

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  .footer-link {
    display: block;
    color: #5CE5BD;
    margin: 10px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }

  small {
    opacity: 0.6;
    font-size: 12px;
  }

  .social-links {
    display: flex;
    justify-content: flex-end;

    a {
      margin-right: 20px;
      font-size: 24px;
      color: white;
    }
  }
}