.page-home {
  .categories {
    padding: 16px 0;

    a {
      font-size: 11px;
      flex: 1 1 auto;
      padding: 0;
      font-weight: bold;
      font-family: 'Exo 2', sans-serif;
    }
  }

  .recommended-themes {
    .buttons {
      margin: 0 -12px;

      a {
        white-space: nowrap;
        background: white;
        border: none;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        padding: 20px 40px;
        margin: 12px;
        font-weight: bold;
        font-size: 14px;

        &:nth-child(even) {
          color: #5CE5BD;
        }
        &:nth-child(odd) {
          color: #294966;
        }
      }
    }
  }

  .articles {
    article {
      img {
        height: 200px;
        object-fit: cover;
      }

      p {
        color: #8395A7;
      }
    }
  }

  .popular-posts {
    article {
      background: #FAFAFA;
      border-radius: 16px;
      padding: 16px;
      margin-bottom: 8px;

      .tags {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 8px;

        span {
          margin-right: 8px;
          text-transform: uppercase;

          &:nth-child(even) {
            color: #5CE5BD;
          }
          &:nth-child(odd) {
            color: #294966;
          }
        }
      }
    }
  }
}