.page-home {
  .carousel-item {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .test-card {
    background: url(../images/home/test-bg.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    color: white;
    text-align: center;
    height: 0;
    padding-bottom: 44%;
    
    @media screen and (max-width: 991px) {
      padding-bottom: 60%;
    }
    
    @media (max-width: 767px) {
      padding-bottom: 80%;
      h2 {
        font-size: 28px;
      }
    }
    
    @media (max-width: 500px) {
      padding-bottom: 120%;
      h2 {
        font-size: 24px;
      }
    }

    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      position: absolute;
      padding-top: 42px;
    }
    
    .logo {
      position: absolute;
      top: 24px;
      left: 24px;
    }
  }
}