.page-home {
  .carousel-item {
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .test-card {
    background: url(../images/home/test-bg.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    color: white;
    text-align: center;
    height: 0;
    padding-bottom: 44%;
    
    @media screen and (max-width: 991px) {
      padding-bottom: 60%;
    }
    
    @media (max-width: 767px) {
      padding-bottom: 80%;
      h2 {
        font-size: 28px;
      }
    }
    
    @media (max-width: 500px) {
      padding-bottom: 120%;
      h2 {
        font-size: 24px;
      }
    }

    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      position: absolute;
      padding-top: 42px;
    }
    
    .logo {
      position: absolute;
      top: 24px;
      left: 24px;
    }
  }

  .how-it-works {
    font-size: 18px;
    line-height: 23px;
    color: #8395A7;

    .badge {
      background: #C8D6E5;
      color: #576574;
      border-radius: 12px;
      font-size: 16px;
      line-height: 20px;
      padding: 10px;
      min-height: 40px;
      min-width: 40px;
    }
  }

  .testimonials {
    .card {
      position: relative;
      overflow: visible;
      margin-top: 50px;

      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .card-body {
        padding-top: 60px;
      }
    }
  }
}