nav.navbar {
  transition: 0.2s background-color;
  border-bottom: 1px solid rgba(200, 214, 229, 0.3);
  
  &.with-bg {
    background-color: rgba(255,255,255,0.7)!important
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-weight: 500;
    color: #8395A7;

    @media screen and (max-width: 991px) {
      font-size: 20px;
      color: white;
    }
  }
  
  .dropdown {
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .dropdown-toggle {
    @media screen and (max-width: 991px) {
      &::after {
        display: none;;
      }
    }
  }

  .dropdown-menu {
    @media screen and (max-width: 991px) {
      display: block !important;
      background: none;
      border: none;

      .dropdown-item {
        padding: 4px 0;
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        line-height: 20px;
      }
    }

    &.show {
      @media screen and (min-width: 992px) {
        border: none;
        padding: 16px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

        &::before {
          content: '';
          position: absolute;
          top: -12px;
          left: 12px;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          border-bottom: 6px solid white;
          border-top: 6px solid transparent;
        }
        
        .dropdown-item {
          font-weight: 500;
          font-size: 14px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #24282d;
        }
      }
    }
  }

  .navbar-toggler {
    color: #8395A7;
    border: none;
  }

  .navbar-collapse.collapse.show {
    @media screen and (max-width: 991px) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: #576574;
      padding: 20px;
      overflow-y: scroll;
    }

    .navbar-toggler {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}